<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculatorService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICalculatorService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CalculatorService/Soap" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculatorService"
                contract="ServiceReference.ICalculatorService" name="BasicHttpBinding_ICalculatorService" />
            <endpoint address="net.tcp://localhost/CalculatorService/Tcp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalculatorService"
                contract="ServiceReference.ICalculatorService" name="NetTcpBinding_ICalculatorService">
                <identity>
                    <userPrincipalName value="Yuliia_Vyshnevska@kyiv.epam.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>